@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';

@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix') format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2') format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff') format('woff'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf') format('truetype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7') format('svg');
}


:root {
  --bg-grey: #dcdcdc;
  --blue-operators: #4a90e2;
  --white-numbers: #ffffff;
  --blue-equal: #007acc;
  --read-clear: #ff6f61;
  --grey-numbers-text: #333333;
  --black: #000000;

}

/* Css Reset june 2024 */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  background-color: var(--bg-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

/* custom styles */

.title {
  font-family: Share Tech Mono, monospace;
  padding-bottom: 20px;
}

.app {

  border: 2px solid #47476b;
  padding: 10px;
  background: black;
  width: 320px;
}

.formulaScreen {
  min-height: 20px;
  font-family: digital;
  font-size: 20px;
  color: orange;
  text-align: right;
  vertical-align: text-top;
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.outputScreen {
  font-size: 29px;
  font-family: digital;
  color: white;
  text-align: right;
  line-height: 35px;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 60px);
  background-color: #dcdcdc;
  border-radius: 10px;
}

.btn {

  color: var(--grey-numbers-text);
  user-select: none;
  border: 1px solid black;
  ;
  background: #4d4d4d;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
  cursor: default;
  transition: transform 0.1s ease;
}

.btn:active {
  transform: scale(0.95);
  /* Slightly scale down the button when clicked */
}

.btn:hover {
  background-color: gray;
  color: white;
}

.num-btn {
  background-color: var(--white-numbers);
}

.operations-btn {
  background-color: var(--blue-operators);
}

.clear-btn {
  background-color: var(--read-clear);

}

.eq-btn {
  background-color: var(--blue-equal);
}

.btn.double-w {
  grid-column: 1 / span 2;
}

.btn.double-h {
  grid-row: span 2;
}

footer {
  padding-top: 10px;
}